.search {
    display: flex;
    align-items: center;
    flex: 1;
    margin-left: 20px;
     /* margin-right: 10px; */}
    .searchIcon {
        background: var(--secondary);
        padding: 5px;
        font-size: 35.5px;
         height: 42.3px;
         cursor: pointer;
    }
    .searchInput {
        width: 100%;
        padding: 0.6rem;
        border: none;
        outline: none;
        background: var(--background-white);
    }
    .search_btn {
        padding: 0.6rem;
        background: var(--secondary);
        border: none;
        outline: none;
        margin-left: 5px;
        cursor: pointer;
    }
