.container{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    margin: 20px auto;
}

.heading{
    border: 1px solid red;
   
}

 h2{
    font-size: 20px;
}
.content{
    display: flex;
    border: 2px solid blue;
    
}
.products{
    display: flex;
}

.product{
    border: 2px solid green;
}

.img{
    width: 150px;
}

img{
    width: 150px;
}
