.categories_container {
    display: flex;
    flex-direction: column;
    .categories_heading {
        // align-self: center;
        // padding: 10px;
        h4 {
            display: grid;
            grid-template-columns: 1fr auto 1fr;
            align-items: center;
            grid-gap: 1rem;
            background: #28afb1;
            padding: 15px 15px 10px 15px;
            font-size: 18px;
            &::after {
                content: '';
                display: flex;
                border-top: 5px solid currentColor;
            }
            &::before {
                content: '';
                display: flex;
                border-top: 5px solid currentColor;
            }
        }
    }
    .categories_box {
        display: flex;
        justify-content: space-around;
        background: var(--background-white);
        border: 1px solid red;
        padding: 10px 0px 2px 0px;
        width: 100%;
        .categories {
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 5px;
            img {
                width: 93px;
                height: 93px;
                object-fit: contain;
                background: whitesmoke;
                border-radius: 50%;
            }
            h3 {
                font-size: 12px;
            }
        }
    }
}
