.login_btn{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    margin-top: 20px;
    background: var(--googlePlus);
    color: var(--background-white);
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
}