.main_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--primary);
    position: relative;
    z-index: 100;
    .main_logo {
        text-decoration: none;
        color:var(--background-white);
        margin-left: 20px;
    }
    .header_search {
        display: flex;
        align-items: center;
        flex: 1;
        margin-left: 20px;
        // margin-right: 10px;
        .searchIcon {
            background: var(--secondary);
            padding: 5px;
            font-size: 35.5px;
             height: 42.3px;
        }
        .search_input {
            width: 100%;
            padding: 0.6rem;
            border: none;
            outline: none;
            background: var(--background-white);
        }
        .search_btn {
            padding: 0.6rem;
            background: var(--secondary);
            border: none;
            outline: none;
            margin-left: 5px;
        }
    }
    .header_right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 20px;
        .nav_item {
            display: flex;
            align-items: center;
            height: 60px;
            margin-right: 10px;
            .nav_links {
                color: white;
                text-decoration: none;
                padding: 0.5rem 1rem;
                &:hover {
                    background-color: #1888ff;
                    border-radius: 4px;
                    transition: all 0.2s ease-out;
                }
            }
        }
        .header_support{
            color: var(--background-white);
            margin-right: 15px;
        }
        .header_basket{
            color: var(--background-white);
            
        }
        svg{
            font-size: 20px;
            margin-right: 5px;
        }
          
        .header_option {
            display: flex;
            flex-direction: column;
            margin: 0 10px;
        }
    }
}
